{% trans_default_domain 'FOSUserBundle' %}
{% set user = app.user %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paw</title>
    <!--global css starts-->
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('client/images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('client/images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/custom.css') }}">
    <!--end of global css-->
    <!--page level css starts-->
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/tabbular.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/jquery.circliful.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/vendors/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/vendors/owl-carousel/owl.theme.css') }}">
    <!--end of page level css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('client/images/favicon.png" type="image/x-icon') }}">
    <link rel="icon" href="{{ asset('client/images/favicon.png" type="image/x-icon') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/shopping.css') }}">
    <script src="{{ asset('util/jquery-3.3.1.min.js') }}"></script>
</head>

<body>
<!-- Header Start -->
<header>
    <!-- Icon Section Start -->
    <div class="icon-section">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/Boutique-Paw-753236058199700"> <i class="livicon" data-name="facebook" data-size="18" data-loop="true" data-c="#fff" data-hc="#757b87"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/boutique_paw"> <i class="livicon" data-name="twitter" data-size="18" data-loop="true" data-c="#fff" data-hc="#757b87"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/pawzcorporation/?hl=fr"> <i class="livicon" data-name="instagram" data-size="18" data-loop="true" data-c="#fff" data-hc="#757b87"></i>
                    </a>
                </li>

                <li class="pull-right">
                    <ul class="list-inline icon-position">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}"><i class="livicon" data-name="user" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('fos_user_profile_show') }}" class="text-white">{{ user.email }}</a></label>
                            </li>

                            <li>
                                <a href="{{ path('panier') }}"><i class="livicon" data-name="shopping-cart-in" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('panier') }}" class="text-white">panier</a></label>
                            </li>
                            <li>
                                <a href="{{ path('fos_message_inbox') }}"><i class="livicon" data-name="message-flag" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('fos_message_inbox') }}" class="text-white">Messagerie</a></label>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}"><i class="livicon" data-name="sign-out" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('fos_user_security_logout') }}" class="text-white">Logout</a></label>
                            </li>

                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}"><i class="livicon" data-name="user" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('fos_user_registration_register') }}" class="text-white">S'inscrire</a></label>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}"><i class="livicon" data-name="sign-in" data-size="18" data-loop="true" data-c="#fff" data-hc="#fff"></i></a>
                                <label class="hidden-xs"><a href="{{ path('fos_user_security_login') }}" class="text-white">Login</a></label>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- //Icon Section End -->
    <!-- Nav bar Start -->
    <nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span><a href="#"> <i class="livicon" data-name="responsive-menu" data-size="25" data-loop="true" data-c="#757b87" data-hc="#ccc"></i>
                    </a></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset('client/images/logo.png') }}" class="logo_position">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{ path('home_member') }}"> Acceuil</a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Annonces</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('lister_annonce_perdue') }}">Annonces Perdus</a>
                        </li>
                        <li><a href="{{ path('lister_annonce_trouver') }}">Annonces Trouvées</a>
                        </li>
                        <li><a href="{{ path('ajouter_annonce_perdue')}}">Ajouter une annonce Perdu</a>
                        </li>
                        <li><a href="{{ path('ajouter_annonce_trouver')}}">Ajouter une annonce Trouveé</a>
                        </li>
                        <li><a href="{{ path('afficher_mes_annonce')}}">Mes annonces </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Adoption</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="adoption">Les offres disponibles</a>
                        </li>
                        <li><a href="adoption">Ajouter une offre</a>
                        </li>
                        <li><a href="adoption">Mes offres</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Accouplement</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="accouplement">Les annonces disponibles</a>
                        </li>
                        <li><a href="accouplement">Ajouter une annonce</a>
                        </li>
                        <li><a href="accouplement">Mes annonces d'accouplement</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sitting&Walking</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="walking">Walking</a>
                        </li>
                        <li><a href="sitting">Sitting</a>
                        </li>
                    </ul>
                </li>
                <li><a href="veterinaires">Véterinaires</a>
                </li>
                <li><a href="reclamations">Reclamation</a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notre Boutique</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('boutique_membre',{'type':'tous'}) }}">Tous les Produits</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Laisse, Collier et Harnais'}) }}">Laisse, Collier et Harnais</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Lits et Couvertures'}) }}">Lits et Couvertures</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Shampoings et Conditionneurs'}) }}">Shampoings et Conditionneurs</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Vetements'}) }}">Vetements</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Bols'}) }}">Bols</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Cadeaux'}) }}">Cadeaux</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Gâteries Et Nourritures'}) }}">Gâteries Et Nourritures</a>
                        </li>
                        <li><a href="{{ path('boutique_membre',{'type':'Jouets'}) }}">Jouets</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav bar End -->
</header>
<!-- //Header End -->
<!-- //Container -->








{% block content %}

{% endblock %}



<!-- //Container End -->
<!-- Footer Section Start -->
<footer>
    <!-- Footer Container Start -->
    <div class="container footer-text">
        <!-- About Us Section Start -->
        <div class="col-sm-4">
            <h4>A propos de nous</h4>
            <p>

                Chez Paw, nous comprenons que votre animal de compagnie fait partie de la famille, parce que nous sommes aussi des parents d'animaux domestiques. Dans nos magasins, vous trouverez une grande sélection de nourriture pour animaux de compagnie, des friandises, des jouets et des accessoires, à des prix compétitifs. Vous trouverez nos magasins dans les communautés locales à travers le nord-est et le Midwest des États-Unis et au Canada. Dans nos magasins, vous trouverez des experts en animaux familiers formés aux soins et à la nutrition par l'intermédiaire de l'école d'extension Davis de l'Université de Californie. Nous sommes fiers d'être experts en animaux de compagnie et nous voulons utiliser nos connaissances et notre expérience pour vous aider à trouver la bonne nutrition et d'autres solutions pour vos animaux de compagnie.
            </p>

        </div>
        <!-- //About Us Section End-->
        <!-- Contact Section Start -->
        <div class="col-sm-4">
            <h4>Nous contacter</h4>
            <ul class="list-unstyled">
                <li>Ariana shoghta</li>
                <li>Rue Shohrour</li>
                <li><i class="livicon icon4 icon3" data-name="cellphone" data-size="18" data-loop="true" data-c="#ccc" data-hc="#ccc"></i>Phone:52992084</li>
                <li><i class="livicon icon4 icon3" data-name="printer" data-size="18" data-loop="true" data-c="#ccc" data-hc="#ccc"></i> Fax:400 423 1456</li>
                <li><i class="livicon icon3" data-name="mail-alt" data-size="20" data-loop="true" data-c="#ccc" data-hc="#ccc"></i> Email:<span class="success">
                        <a href="mailto:">pawzcorporation@gmail.com</a></span>
                </li>
                <li><i class="livicon icon4 icon3" data-name="skype" data-size="18" data-loop="true" data-c="#ccc" data-hc="#ccc"></i> Skype:
                    <span class="success">Paw</span>
                </li>
            </ul>

        </div>
        <!-- //Contact Section End -->
        <!-- Recent post Section Start -->

        </div>
        <!-- //Recent Post Section End -->

    <!-- Footer Container Section End -->
</footer>

<!-- Copy right Section End -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Return to top" data-toggle="tooltip" data-placement="left">
    <i class="livicon" data-name="plane-up" data-size="18" data-loop="true" data-c="#fff" data-hc="white"></i>
</a>
<!--global js starts-->
<script type="text/javascript" src="{{ asset('client/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('client/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/raphael.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/livicons-1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/josh_frontend.js') }}"></script>
<!--global js end-->
<!-- page level js starts-->
<script type="text/javascript" src="{{ asset('client/js/jquery.circliful.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/vendors/owl-carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/index.js') }}"></script>
<!--page level js ends-->
</body>

</html>
