{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}

    <div class="breadcum">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('home_member') }}"> <i class="livicon icon3 icon4" data-name="home" data-size="18" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i>Acceuil
                    </a>
                </li>
                <li class="hidden-xs">
                    <i class="livicon icon3" data-name="angle-double-right" data-size="18" data-loop="true" data-c="#01bc8c" data-hc="#01bc8c"></i>
                    <a href="{{ path('consultermesAchat') }}">Mes Achats</a>
                </li>
            </ol>
            <div class="pull-right">
                <i class="livicon icon3" data-name="edit" data-size="20" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i> Mes Achats
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="border-primary"><span class="heading_border bg-primary">Mes Achats</span></h3>
            </div>
            {% if achats == null %}
                <br><br>
            <h1>Vous n'avez aucun achat pour le moment</h1>
                <br><br>
            {% else %}
            {% for a in achats %}


    <div class="col-sm-6 col-md-3">
        <div class="box">
            <div class="info">
                <h3 class="success text-center">{{ a.etat }}</h3>
                <p><span class="primary">Date d'achat :</span> {{ a.dateAchat|date("m/d/Y H:i:s") }}</p>
                <p><span class="primary">Prix Total  : </span>{{ a.prix }} DNT</p>
                <div class="text-right primary"><a href="{{ path('consulterdetailAchat',{'id':a.getIdAchat}) }}">Consulter</a>
                </div>
            </div>
        </div>
    </div>

            {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock content%}