{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}

    <div class="breadcum">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('home_member') }}"> <i class="livicon icon3 icon4" data-name="home" data-size="18" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i>Acceuil
                    </a>
                </li>
                <li class="hidden-xs">
                    <i class="livicon icon3" data-name="angle-double-right" data-size="18" data-loop="true" data-c="#01bc8c" data-hc="#01bc8c"></i>
                    <a href="#">Boutique</a>
                </li>
            </ol>
            <div class="pull-right">
                <i class="livicon icon3" data-name="edit" data-size="20" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i> Produits
            </div>
        </div>
    </div>
    <!-- //Breadcrumb Section End-->
    <!-- Container Section Start -->
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="border-primary"><span class="heading_border bg-primary">Notre Boutique</span></h3>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-6">
        <div class="form-group input-group">
            <div class="input-group-addon">
                <i class="livicon" data-name="search" data-size="18" data-c="#000" data-hc="#000" data-loop="true"></i>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher" id="search">
        </div>
        </div>
    </div>

        <div id="ajax">
        <!--Content Section Start -->
        <!-- Best Deal Section Start -->
        <div class="row">
            <h3>Categorie</h3>

            <div class="col-md-3 col-sm-6">
                <!-- Pnael group section Start -->
                <div class="margin-t30 hidden-xs hidden-sm"></div>
                <div class="panel-group" id="accordion">
                    <!--Php Section Start -->
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a  href="{{ path('boutique_membre',{'type':'tous'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t1">Tous les Produits</span></a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a  href="{{ path('boutique_membre',{'type':'Laisse, Collier et Harnais'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t14">Laisse, Collier et Harnais</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a  href="{{ path('boutique_membre',{'type':'Lits et Couvertures'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t2">Lits et Couvertures</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a  href="{{ path('boutique_membre',{'type':'Shampoings et Conditionneurs'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t3">Shampoings et Conditionneurs</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a href="{{ path('boutique_membre',{'type':'Vetements'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t4">Vetements</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a href="{{ path('boutique_membre',{'type':'Bols'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t5">Bols</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a href="{{ path('boutique_membre',{'type':'Cadeaux'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t6">Cadeaux</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a href="{{ path('boutique_membre',{'type':'Gâteries Et Nourritures'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t7">Gâteries Et Nourritures</span></a>
                            </h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a href="{{ path('boutique_membre',{'type':'Jouets'}) }}">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="t8">Jouets</span></a>
                            </h4>
                        </div>

                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#filtre">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success">Filtrer </span></a>
                            </h4>
                        </div>
                        <div id="filtre" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a id="croissant" >Prix Croissant</a></p>
                                            <p> <a id="decroissant">Prix Decroissant</a></p>
                                        <p> <a id="disponible" >Produit Disponible</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
                <!-- //Panel group Section End -->
            </div>


            <!-- contenu du boutique -->


            {% for article in articles %}
                <div class="box col-md-3 ">
                    <div class=" thnumbnail text-center">
                            <a href="#"><img src="http://localhost/paw_web/web/images/pawBoutique/{{ article.image1 }}"  alt="sony image" width="80" height="80"></a>

                        <h5 class="text-primary">{{ article.libelle }}</h5>
                        {% if article.quantite == 0 %}
                        <ul>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>Hors Stock</li>
                        </ul>
                        {% else %}
                            <ul>
                                <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>En Stock </li>
                            </ul>
                        {% endif %}
                        <h4 class="text-primary">{{ article.prix}} DNT</h4>
                        <a href="{{ path('detailProduit',{'id':article.id})  }}" class="btn btn-responsive button-alignment btn-primary text-white">Plus d'info</a>
                        {% if article.quantite == 0 %}
                        <a disabled="disable" id="{{ article.id }}" class="btn btn-responsive button-alignment btn-primary text-white">Ajouter au panier</a>
            {% else %}
                <a id="{{ article.id }}" class="btn btn-responsive button-alignment btn-primary text-white">Ajouter au panier</a>

                        {% endif %}
                    </div>
                </div>
            {% endfor %}



        </div>

































            <div class="row">
        <div align="center">

                {{ knp_pagination_render(articles) }}

        </div>
            </div>

    </div>

    </div>

    <script>
        $(document).ready(function() {

            console.log('document is ready');

            $("#search").on('keyup', function() {

                keyword = $("#search").val();
                if(keyword!="")
                {
                    $.get("{{ path('rechercheProduit')}}?keyword=" + keyword, function(data, err, vars) {
                        $("#ajax").html(data);
                    })
                }


            });





            $('a').on('click', function(event) {
                var $target = $(event.target);
                var itemId = $target.attr('id');
                console.log(itemId);
                var keyword = itemId;
                if(isNaN(keyword) == false)
                {
                    $.get("{{ path('acheterProduit') }}?keyword=" + keyword, function(data, err, vars) {

                    })
                }
                if(itemId=="croissant")
                {
                    var url = window.location.pathname

                    console.log(url);
                    var res = url.split("=");
                    var t = res[1];
                    if(t.startsWith("tous"))
                        t='tous';
                    if(t.startsWith("Vet"))
                        t='Vetements';
                    if(t.startsWith("Bols"))
                        t='Bols';
                    if(t.startsWith("Cadeaux"))
                        t='Cadeaux';
                    if(t.startsWith("Jouets"))
                        t='Jouets';
                    if(t.startsWith("G"))
                        t='Gâteries Et Nourritures';
                    if(t.startsWith('Li'))
                        t='Lits et Couvertures';
                    if(t.startsWith('La'))
                        t='Laisse, Collier et Harnais';
                    if(t.startsWith("Sha"))
                        t='Shampoings et Conditionneurs';
                    window.location = 'http://localhost/paw_web/web/app_dev.php/boutique/filtre/type='+t+'&critere=ASC'

                }
                if (itemId=="decroissant")
                {
                    var url = window.location.pathname

                    console.log(url);

                    var res = url.split("=");
                    var t = res[1];
                    if(t.startsWith("tous"))
                        t='tous';
                    if(t.startsWith("Vet"))
                        t='Vetements';
                    if(t.startsWith("Bols"))
                        t='Bols';
                    if(t.startsWith("Cadeaux"))
                        t='Cadeaux';
                    if(t.startsWith("Jouets"))
                        t='Jouets';
                    if(t.startsWith("G"))
                        t='Gâteries Et Nourritures';
                    if(t.startsWith('Li'))
                        t='Lits et Couvertures';
                    if(t.startsWith('La'))
                        t='Laisse, Collier et Harnais';
                    if(t.startsWith("Sha"))
                        t='Shampoings et Conditionneurs';




                    window.location = 'http://localhost/paw_web/web/app_dev.php/boutique/filtre/type='+t+'&critere=DESC';

                }
                if(itemId=="disponible")
                {
                    var url = window.location.pathname

                    console.log(url);
                    var res = url.split("=");
                    var t = res[1];
                    if(t.startsWith("tous"))
                        t='tous';
                    if(t.startsWith("Vet"))
                        t='Vetements';
                    if(t.startsWith("Bols"))
                        t='Bols';
                    if(t.startsWith("Cadeaux"))
                        t='Cadeaux';
                    if(t.startsWith("Jouets"))
                        t='Jouets';
                    if(t.startsWith("G"))
                        t='Gâteries Et Nourritures';
                    if(t.startsWith('Li'))
                        t='Lits et Couvertures';
                    if(t.startsWith('La'))
                        t='Laisse, Collier et Harnais';
                    if(t.startsWith("Sha"))
                        t='Shampoings et Conditionneurs';
                    window.location = 'http://localhost/paw_web/web/app_dev.php/boutique/filtre/type='+t+'&critere=dispo'


                }


            });



        })
    </script>


{% endblock content%}