{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}

    <div class="breadcum">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('home_member') }}"> <i class="livicon icon3 icon4" data-name="home" data-size="18" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i>Acceuil
                    </a>
                </li>
                <li class="hidden-xs">
                    <i class="livicon icon3" data-name="angle-double-right" data-size="18" data-loop="true" data-c="#01bc8c" data-hc="#01bc8c"></i>
                    <a href="#">Boutique</a>
                </li>
            </ol>
            <div class="pull-right">
                <i class="livicon icon3" data-name="edit" data-size="20" data-loop="true" data-c="#3d3d3d" data-hc="#3d3d3d"></i> Produits
            </div>
        </div>
    </div>
    <!-- //Breadcrumb Section End-->
    <!-- Container Section Start -->
    <div class="container">
        <!--Content Section Start -->
        <!-- Best Deal Section Start -->
        <div class="row">
            <h3>Categorie</h3>

            <div class="col-md-3 col-sm-6">
                <!-- Pnael group section Start -->
                <div class="margin-t30 hidden-xs hidden-sm"></div>
                <div class="panel-group" id="accordion">
                    <!--Php Section Start -->
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span id="1" class="success">Laisse, Collier et Harnais</span></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="2">Lits et Couvertures</span></a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="3">Shampoings et Conditionneurs</span></a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="4">Vetements</span></a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="5">Bols</span></a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="6">Cadeaux</span></a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="7">Gâteries Et Nourritures</span></a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading text_bg">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    <span class=" glyphicon glyphicon-plus success"></span>
                                    <span class="success" id="8">Jouets</span></a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <i class="devicon-php-plain colored font100" ></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">prix croissant</a></br><a href="#">prix decroissant</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Panel group Section End -->
            </div>


            <!-- contenu du boutique -->


            {% for article in articles %}
                <div class="box col-md-3 ">
                    <div class=" thnumbnail text-center">
                            <a href="#"><img src="http://localhost/paw_web/web/images/pawBoutique/{{ article.image1 }}"  alt="sony image" width="80" height="80"></a>

                        <h5 class="text-primary">{{ article.libelle }}</h5>
                        {% if article.quantite == 0 %}
                        <ul>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>Hors Stock</li>
                        </ul>
                        {% else %}
                            <ul>
                                <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i>En Stock </li>
                            </ul>
                        {% endif %}
                        <h4 class="text-primary">{{ article.prix}} DNT</h4>
                        <a href="{{ path('detailProduit',{'id':article.id})  }}" class="btn btn-responsive button-alignment btn-primary text-white">Plus d'info</a>
                        <a href="#" class="btn btn-responsive button-alignment btn-primary text-white">Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}










        </div>


























            <row>
        <div class="col-md-3 offset-md-10">

                {{ knp_pagination_render(articles) }}

        </div>
            </row>
    </div>

{% endblock content%}