{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}
    <div class="container">
        <!--Content Section Start -->
        <!-- Best Deal Section Start -->
        <div class="row">

            <h3>Bienvenue {{ user.username }}  toutes vous annonces trouveés</h3>
            {% for annonce in m %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail text-center">

                        <img src="{{ asset('images/pawLostFound/' ~ annonce.images)}}" class="img-responsive" alt="image animal" height="150" width="150">

                        <br/>
                        <h5 class="text-primary">Voici les coordoneés de l'animal en question</h5>
                        <ul>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Son type est : {{annonce.type }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Sa race est :{{ annonce.race }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Trouveé le  : {{ annonce.dateTrouvee|date('Y-m-d') }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Le nom  du proprietaire est : {{user.username}}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Ton addresse : {{user.addresse }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Ton numero :  {{ user.numero}}</li>
                        </ul>


                        <a  class="btn btn-primary btn-block text-white" href="{{ path('modifier_annonce_trouver',{ "id" : annonce.id} )}}">Modifier</a>

                        <a  class="btn btn-danger btn-block text-white" href="{{ path('supprimer_annonce_trouver',{ "id" : annonce.id} )}}">Supprimer</a>

                    </div>


                </div>



            {% endfor %}




        </div>
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(m) }}
    </div>
    <br><br><br><br>







    <div class="container">
        <!--Content Section Start -->
        <!-- Best Deal Section Start -->
        <div class="row">

            <h3>Vous trouverais ainsi {{ user.username }}  toutes vous annonces De Perte</h3>
            {% for annonce in k %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail text-center">

                        <img src="{{ asset('images/pawLostFound/' ~ annonce.images)}}" class="img-responsive" alt="image animal" height="150" width="150">

                        <br/>
                        <h5 class="text-primary">Voici les coordoneés de l'animal en question</h5>
                        <ul>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Son type est : {{annonce.type }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Sa race est :{{ annonce.race }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Trouveé le  : {{ annonce.datePerte|date('Y-m-d') }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Le nom  du proprietaire est : {{u.username}}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Ton addresse : {{u.addresse }}</li>
                            <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Ton numero :  {{ u.numero}}</li>
                        </ul>


                        <a  class="btn btn-primary btn-block text-white" href="{{ path('modifier_annonce_perdu',{ "id" : annonce.id} )}}">Modifier</a>

                        <a  class="btn btn-danger btn-block text-white" href="{{ path('supprimer_annonce_perdu',{ "id" : annonce.id} )}}">Supprimer</a>

                    </div>


                </div>



            {% endfor %}




        </div>
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(k) }}
    </div>
    <br><br><br><br>



















{% endblock %}